{% load static %}
<!DOCTYPE html>
<html>
<head>
<title>This is my CRUD project</title>
<link rel= "stylesheet" href="{% static 'css/bootstrap.css' %}">

</head>

<body> 
 <div class="container mt-5">
    <h2 class="text-center alert alert-danger">Function Based View ModelForm CRUD Project</h2>
    {% block content%}
    {% endblock content%}
 </div>
    <script src="{% static 'eroll/js/jquery.js' %}"></script>
    <script src="{% static 'eroll/js/popper.js' %}"></script>
    <script src="{% static 'eroll/js/bootstrap.js' %}"></script>   
</body>
</html>